name: Buildkite plugins test actions
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Lint
        run: docker-compose run lint
      - name: Tests
        run: docker-compose run tests